
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Baloo+Bhaijaan+2&family=Dosis:wght@800&family=Harmattan:wght@700&family=Nunito:wght@600&family=Piazzolla:opsz,wght@8..30,900&family=Red+Hat+Text:wght@300&family=Roboto+Mono:wght@200&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Baloo+Bhaijaan+2&family=Harmattan:wght@700&family=Nunito:wght@600&family=Piazzolla:opsz,wght@8..30,900&family=Red+Hat+Text:wght@300&family=Roboto+Mono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
}
.nav{
    background-color: #d1d8e0;
    height: 11vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Harmattan', sans-serif;
}
.nav h2{
    margin: auto 0;
    font-size: 1.8rem;
    cursor: pointer;
}
.nav ul{
    text-decoration: none;
    list-style: none;
}
.nav .navbar_item{
    text-decoration: none;
    color: black;
}
.nav .links{
    font-size: 1.5rem;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about{
    background-color: rgb(0, 167, 164);
    height: calc(100vh - 11vh);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.about img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    object-position: 60% 0%;
    border-radius: 100%;
    box-shadow: 4px 20px 30px 10px rgba(0, 0, 0, 0.479);
}
.about .right_side{
    display: flex;
    flex-direction: column;
    width: 36rem;
    letter-spacing: 1px;
}

.right_side h1{
    font-weight: 900;
    font-size: 65px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.611);
    font-family: 'Harmattan', sans-serif;
}
.about .right_side p{
    position: relative;
    color: rgb(53, 53, 53);
    font-size: 1.4rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.about h1{
    position: relative;
}
.about .right_side .btn{ 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    margin-top: 20px;
    font-weight: 900;
    font-family: 'Red Hat Text', sans-serif;
    background-color: #d1d8e0;
    transition: all ease 0.2s;
}
.about .right_side .btn:hover{
    background-color: #f7f5f5;
}

/* ----------- social Media ----------- */
.social-container{
    position: absolute;
    width: 40px;
    height: 50vh;
    top: 200px;
    left: 0px;
    background: #d1d8e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.2rem;
    /* align-items: center; */
}
.social-container a{
    color: black;
}
.social-container a.social{
    font-size: 25px;
    margin-left: 5px; 
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    transition: transform 250ms;
}

.social-container a.social:hover {
    transform: translateX(3px);
}
.home{
    font-family: 'Harmattan', sans-serif;
    height: calc(100vh - 11vh);
    display: flex;
    align-items: center;
    background-color: rgb(0, 167, 164);
}
.info{
    position: absolute;
    top: 30%;
    margin-left: 8rem;
}
.info .first_line{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.427);
}
.info h2{
    color: black;
    font-size: clamp(40px, 8vw, 80px);
}
.info h2 span{
    color: rgba(32, 32, 32, 0.8);
}
.info .second_line{
    font-size: 60px;
    color: #d5d5d5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.info h3{
    font-size: 30px;
    font-weight: 900;
    color: #d5d5d5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.project{
    height: calc(100vh - 11vh);
    background-color: rgb(0, 167, 164);
    overflow-x: auto;
}

/* -------------- Cards -------------- */
.cards{
    width: 100%;
    height: auto;
    font-family: 'Harmattan', sans-serif;
}
.card{
    margin: 6%;
    transition: all 0.4s cubic-bezier(0.125, 0.885, 0,1);
    background-color: #fff;
    width: 20.25%;
    border-radius: 12px;
    box-shadow: 10px 13px 10px -7px rgba(0,0,0,0.4);
    float: left;
}
.card:hover{
    box-shadow: 8px 30px 18px -8px rgba(0,0,0,0.4);
    transform: scale(1.05, 1.05);
}
.card_image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card_info{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0px 20px 20px 20px;
    background-color: white;   
    height: 10%;
}

.card_title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: white;
    text-transform: capitalize;
}
button{
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: white;
    outline: none;
    border: 1px solid black;
}


/* -------------- Contact Me -------------- */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .contact_form{
    font-family: 'Harmattan', sans-serif;
    font-size: 20px;
    background-color: rgb(0, 167, 164);
    height: calc(100vh - 11vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }